html {
    font-size: 20px;
    background-image: url(./images/background.gif);
    background-position: center top;
}

h1 {
    margin: 0.5em;
    font-family: SERIF;
}


/*
h1:hover {
    color: rebeccapurple;
}*/

h2 {
    font-size: 1.5em;
    margin: 0.5em;
    font-family: SERIF;
}

input {
    font-size: 20px;
    margin: 0.5em;
    width: 20em;
    height: 3em;
    text-align: start;
    border-radius: 1em;
}

p {
    margin: 0.5em;
    font-family: serif;
}

table {
    width: 100%;
}

td {
    width: 10em;
    align-content: center;
}

#buttonSplitting {
    font-size: 20px;
    margin: 0.5em;
    width: 20.4em;
    height: 3.3em;
    text-align: start;
    border-radius: 1em;
    background-color: gray;
    color: white;
}

#buttonSplitting:hover {
    background-color: white;
    color: red;
}

#info {
    margin: -8.0px;
    background-color: #EEEEEE;
}

.divs1 {
    margin: 2.5em;
    background-color: #9999FF88;
    border-radius: 1.0em;
}

.langButton {
    height: 25px;
}

.aa {
    color: transparent;
}