html {
    font-size: 20px;
    background-image: url(./images/background.gif);
    background-position: center top;
    max-height: 1080px;
    background-size: 120%;
    background-attachment: fixed
}

body {
    height: 95%;
    width: 95%;
}

h1 {
    margin: 0.5em;
    font-family: SERIF;
    text-align: center;
}


/*
h1:hover {
    color: rebeccapurple;
}*/

h2 {
    font-size: 1.5em;
    margin: 0.5em;
    font-family: SERIF;
}

input {
    font-size: 20px;
    margin: 0.5em;
    width: 80%;
    max-width: 20em;
    height: 3em;
    text-align: start;
    border-radius: 1em;
}

p {
    margin: 0.5em;
    font-family: serif;
}

thead {
    width: 80%;
}

th {
    max-width: 3.5em;
}

td {
    width: 10em;
    align-content: center;
}

script {
    display: none;
}

#buttonSplitting {
    font-size: 20px;
    margin: 0.5em;
    width: 82.5%;
    max-width: 20.4em;
    height: 3.3603125em;
    text-align: start;
    border-radius: 1em;
    background-color: gray;
    color: white;
}

#buttonSplitting:hover {
    background-color: white;
    color: red;
}

#exT {}

#info {
    margin: -8.0px;
    position: fixed;
    bottom: 0px;
    left: 7.5px;
    font-weight: bold;
    text-align: center;
    background-color: #FFFFFF;
    transition: 0.3s0;
    width: 100%;
}

#infoT {
    width: 100%;
}

#buttons {
    position: fixed;
    top: 10px;
    left: 10px;
    font-weight: bold;
    padding: 0.7em;
    text-align: center;
    background-color: #FFFFFFAA;
    transition: 0.3s0;
    border-radius: 1em;
}

#totop {
    position: fixed;
    bottom: 40px;
    right: 10px;
    font-weight: bold;
    padding: 0.7em;
    text-align: center;
    background-color: #FFFFFFAA;
    transition: 0.3s0;
    border-radius: 1em;
}

.divs1 {
    word-break: break-all;
    margin: 2.5em;
    background-color: #9999FF88;
    border-radius: 1.0em;
}

.exdiv>table {
    width: 100%;
    box-sizing: border-box
}

.langButton {
    height: 25px;
}

.aa {
    color: transparent;
}

.radT {
    border-radius: 1em;
    text-align: center;
}